# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/cl

# IDE/Editor
.vscode/
.idea/

# Secrets
.env
pi5_ubuntu_setup_guide.md

# data
tts_cache/
assets/
data/logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3-journal
*.bak